<div class="button"></div>
                            <div class="panel_form">
                                <div class="wrapper_form">
                                    <form action="registration" method="post" >
                                        <fieldset>
                                                Nome:<input type="text"   name="nome" value="" /> <div class='${err_nome!"no_display"}'>X</div>
                                                Cognome:<input type="text" name="cognome" value=""/> <div class='${err_cognome!"no_display"}'>X</div>
                                                Username:<input type="text"  name="username" value=""/><div class="${err_username!"no_display"}">X</div>
                                                Email:<input type="text" name="email" value=""/>  <div class="${err_email!"no_display"}">X</div>
                                             <input type="submit" name="submit" value="Sign In">
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
