<div class="row">
                    
  			<div class="ten columns slider">
                            
                             <div class="slide current" style="background-color:red"></div><div class="slide " style="background-color:cyan"></div><div class="slide " style="background-color:lime"></div>
  			</div>
                    
  			
                    <div class="six columns " id="last_sites">
  				
  				<div class="row">
  					<div class="eight columns item" ></div><div class="eight columns item" ></div>
  				</div>
  				<div class="row">
  					<div class="eight columns item" ></div><div class="eight columns item" ></div>
  				</div>
  			
  			</div>
  			
  	    
  	    
  	    </div>
  	    
  		<div class="row">
  		  			
  			<div class="four columns item"></div><div class="four columns item"></div><div class="four columns item"></div><div class="four columns item"></div>
  	  	
  	  	</div>
