
  		
            <div class="row">
                    
  			<div class=" sixteen columns slider">
                            <a href="account" class="button">INIZIA ORA!</a>
                            
                             
                            <div class="slide current" >
                                <div class="slogan">
                                    <h1> <span>CREA</span><br/><span> IL TUO </span><br/> <span>SPETTACOLARE SITO</span></h1>
                                </div>
                                 <img src="./site_images/city1.jpg" alt="slide1"/>
                             </div>
                            
                            <div class="slide " >
                                <div class="slogan">
                                    <h1>  <span>SCRIVI</span><br/><span>IL TESTO </span><br/> <span>INLINE</span></h1>
                                </div>
                                <img src="./site_images/writer2.jpg" alt="slide2"/>
                            </div>
                             
                            <div class="slide " >
                                <div class="slogan">
                                    <h1> <span>SCEGLI</span><br/><span> LO STILE </span><br/> <span>CHE FA PER TE</span></h1>
                                </div>
                                <img src="./site_images/style.jpg" alt = "slide3"/>
                             
                            </div>
  			</div>
                    
            </div>
            
            <#include lastsites_tpl>

            <div class="row features">
                <div class="title">Features</div>
                
                <div class="four columns ">
                    <img src="./site_images/piuma_ico.png" alt = "LEGGERO"/>
                    <div class="descr">
                        <h3>facile. veloce. bello</h3>
                        <h3>Nessun codice necessario.</h3>
                    </div>
                </div>
                <div class="four columns ">
                    <img src="./site_images/write_ico.png" alt = "EDITOR"/>
                    <div class="descr">
                        <h3>Scrivi il  contenuto</h3>
                        <h3>Come in un documento word</h3>
                    </div>
                </div>
                <div class="four columns ">
                    <img src="./site_images/Map_ico.png" alt="ALBERO"/>
                    <div class="descr">    
                        <h3>Definisci la navigabilt&agrave;</h3>
                        <h3>Attraverso il nostra grafico </h3>
                    </div>
                </div>
                <div class="four columns ">
                    <img src="./site_images/css_ico.png" alt="CSS"/>
                    <div class="descr">
                        <h3>Scegli il tuo stile</h3>
                        <h3> Fra i fogli css messi a disposizione</h3>
                    </div>
                    
                </div>
                
            </div>
            
           