                    <#if (styles?size>0)>
                    <div class="row style">
                        <div class="title">Style</div>
                            <#list styles as style>
                            <a id="css${style.id}"  class="button <#if (style.active == 1)> active</#if>" href="style?id=${style.id}" >
                                ${style.name}
                            </a>
                            </#list>
                    </div>
                    </#if>
                    <div class="row images">
                        <div class="title">Images</div>
                        <div class="wrapper_content">
                            <div class="content">
                                <#if (images?size>0)>
                                <#list images as image>
                                <div  class="eight columns">
                                    <img   src="${image.thumb}" alt="${image.nome}"/>
                                    <a class="cover <#if (image.cover)> set</#if>" href="cover?id=${image.id}" id="img${image.id}">cover</a>
                                    <a href="delete?id=${image.id}&image=" class="delete_img">x</a>
                                    <a href="javascript:void(0)" class="add_img">+</a>
                                 </div>
                                </#list>
                                <#else>
                                <span class="empty">Nessuna immagine</span>
                                </#if>
                             
                            </div>
                            <form action="upload_user_img" method="post" enctype="multipart/form-data">
                                <fieldset>
                                <input type="file" name="file_to_upload" />
                                <input type="submit" value="upload"/>
                                </fieldset>
                            </form>   
                            
                        </div>    
                        
                        
                    </div>
                    
                
