
            <div class="row">     
                <div class="ten columns wrapper_form">
                    <div class="form">   
                        <div  id="errors_signup">
                            
                            <#if errors_sign_up?? >
                                <#list errors_sign_up as error>
                                <span> ${error}</span>
                                </#list>
                            </#if>
                        </div>
                        <form action="registration" method="post" class="signup_form" >
                            <fieldset>
                                <span> Nome</span><input type="text" class="required"  name="nome" value="" /> 
                                <span>Cognome </span><input type="text"  class="required" name="cognome" value=""/>
                                <span>Username</span><input type="text" class="username required"   name="username" value=""/>
                                <span>Email</span><input type="text" class="required email emailunique" name="email" value=""/>  
                                <input type="submit" name="submit" value="Sign up"/>
                            </fieldset>

                        </form>

                    </div>   
                    <div class="form"> 
                        <div  id="errors_login">
                            <#if errors_login?? >
                            
                                <span> ${errors_login}</span>
                            
                            </#if>
                        </div>  
                        <form action="login" method="post"  class="login_form">
                            <fieldset>
                                <span>Username</span><input type="text" class="required"  name="username" value=""/>
                                <span>Password</span><input type="password" class="required" name="password" value=""/>  
                                <input type="submit" name="submit" value="Login"/>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>



            