<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${title}</title>
        <link rel="stylesheet" href="${style}" type="text/css" />
        <!-- eventuali marker per css e script -->
    </head>
    <body>
        <div class="site_header">
        ${header}
        </div>
        <#if (menu?size > 0) >
        <div class="site_menu" >
        <ul>
        <#list menu as item>
        <a href='site?user=${nomeutente}&page=${item.id}'><li>${item.titolo?html}</li></a>
        </#list>
        </ul>
        </div>
        </#if>
        <div class="site_body">
        ${body}
        </div>
        <div class="site_footer">
        ${footer}
        </div>
    </body>
</html>