<!DOCTYPE html>
<html>
        <head>
            <title>TODO supply a title</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width">
        </head>
        <body>
            <div class="tree">
                
                <#if (alberoprofondita?size > 0)>
                <ul>
                    <#assign livp = 0>
                    <#list alberoprofondita as nodo>
                    
                    <#if (nodo.livello > livp) >
                    <ul>
                    </#if>
                    <#if (nodo.livello < livp)>
                    </li></ul></li>
                    </#if>
                    <#if (nodo.livello = livp)>
                    </li>
                    </#if>
                    <li>  ${nodo.title}
                    <#assign livp = nodo.livello>
                    </#list>
                    
                    <#list 0..livp as i>
                    </li>
                    </ul>
                    </#list>
                </#if>
            </div>
        </body>
    </html>
