<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <title>Nuova Immagine</title>
        </head>
        <body>
            <table border="1">
                <caption>Dati Immagine Inserita</caption>
                <thead>
                    <tr><th>id</th><th>nome</th><th>dimensione</th><th>local_file</th><th>digest</th>
                        <th>upload</th><th>id_utente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>${id}</td>
                        <td>${immagine.nome}</td>
                        <td>${immagine.dimensione}</td>
                        <td>${immagine.file}</td>
                        <td>${immagine.digest}</td>
                        <td>${immagine.data_upload}</td>
                        <td>${id_utente}</td>
                    </tr>
                </tbody>
            </table>
        </body>
    </html>
