  		
            <div class="row" id="avviso">
            	
            	<div class=" sixteen columns">
            	<span>Per fruire al meglio dei servizi del Site manager attiva Javascript. </span>
            	</div>
            
            </div>
            <div class="row">
                
                <div class="ten columns sitemap">
                    <div class="title">Site manager</div>
                    
                    
                    
                    
                    <#include editor>

                    <#include tree>
                </div>
                
                <div class=" six columns style_img">
                    <#include images_tpl>
                </div>
            
            </div>
            
