
  		
 
            <div class="row">
                <div class="sixteen columns what">
                    <div class="row">
                        <div class="sixteen columns">
                            <img src='./site_images/yoursite.jpg' alt="Your Site"/>
                        </div>
                        
                    </div>    
                    <p>
                        SimpleCMS  &egrave; uno strumento per creare il tuo  sito in maniera semplice e diretta. Grazie a noi potrai creare il tuo sito semplicemente scrivendo testo con CKEditor come in un documento word , scegliere lo stile che preferisci fra quelli da noi forniti e gestire la navigabilit&agrave;  fra le pagine con il notro intuitivo albero interattivo.  
                        SimpleCMS  &egrave; completamente gratis e ti consente di creare un sito agile e funzionale. Prova subito  &egrave; molto pi&ugrave; facile di ci&ograve; che credi. Richiedi le tue credenziali di accesso fornendo le tue generalit&agrave; e l'email, scegli una username , entra e serviti delle nostre funzioni per creare il tuo sito. Inizia ora!
                    </p>
                    <a href='http://www.ckeditor.com'><img src='./site_images/ckeditor_logo.png' class='logock' alt='ckeditorlogo'/></a>
                </div>
                
                
            </div>
            
          